.providersmodal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
}

.providersmodal form{
    display: flex;
    flex-direction: column;
    margin-bottom: 16rem;
    color: black;
    padding: 1rem 1rem;
    background-color: var(--main-bg-color);
    border: 1px solid gray;
    border-radius: 2px;
    backdrop-filter: opacity(0.6);
}

.providersmodal form button{
    letter-spacing: 1px;
    margin-top: 1.5rem;
    padding: .3rem .2rem;
    border-radius: 3px;
    color: white;
    border: none;
    background-color: var(--btn-bg-color);
}

.providersmodal form button:hover{
    cursor: pointer;
}