.providersmodal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
}

.providersmodal form{
    display: flex;
    flex-direction: column;
    margin-bottom: 16rem;
    color: black;
    padding: .5rem 1rem;
    background-color: wheat;
    border: 1px solid gray;
    border-radius: 2px;
    backdrop-filter: opacity(0.6);
}

.providersmodal form button{
    margin-top: 2rem;
}

.providersmodal form button:hover{
    cursor: pointer;
}