.statscard {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 2px;
  min-width: 6rem;
  text-align: center;
  margin: 0 2rem;
}

.statscard:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.statcardname {
  font-weight: lighter;
}

.statcardstat {
  font-weight: bold;
}
