.sidemenu{
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 169, 239);
    padding-left: 30px;
    padding-right: 30px;
}

.sidemenu ul{
    justify-content: space-between;
    padding: 0 1rem;
    list-style: none;
}

.sidemenu li:hover{
    color: rgb(255, 255, 255);
}

.sidemenu li {
    padding: 1rem 0;
    margin: .5rem 0;
}

.sidemenu a{
    text-decoration: none;
}

.sidemenu a:visited{
    color: inherit;
}

